.App {
  text-align: center;
}

.current-word {
  --correct-word-color: #93c43f;
  --wrong-word-color: #f25151;
  --underline-word-color: #10ade2;

  .typed {
    text-decoration: none !important;

    &.correct {
      color: var(--correct-word-color, green);
    }

    &.incorrect {
      color: var(--wrong-word-color, red);
    }

    + span {
      text-decoration: underline;
      text-decoration-color: var(--underline-word-color, blue);
    }
  }
}
