.App {
  text-align: center;
}

.current-word {
  --correct-word-color: #93C43F;
  --wrong-word-color: #F25151;
  --underline-word-color: #10ADE2;

  .typed {
    text-decoration: none !important;
    
    &.correct {
      color: var(--correct-word-color, green);
    }

    &.incorrect {
      color: var(--wrong-word-color, red);
    }

    + span {
      text-decoration: underline;
      accent-color: var(--underline-word-color, blue);
    }
  }
}

